.copy-right {
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    color: #676767;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
hr {
    border-top: 1px solid #cecece;
}